{% extends "layout.html" %}

{%  block title %}
	Home
{% endblock %}

{% block body %}
	<div>
		<p>Username: Player</p>
		<p>Balance: $50</p>
		<a href="">Fund Account</a>
		<button onclick="logOut()">Logout</button>
	</div>
	<div>
		<a href="">
			<img src="">
			<p>Shop</p>
		</a>
		<a href="">
			<img src="">
			<p>Locker</p>
		</a>
		<a href="">
			<img src="">
			<p>Tournaments</p>
		</a>
		<a href="">
			<img src="">
			<p>Play</p>
		</a>
		<a href="">
			<img src="">
			<p>Guide</p>
		</a>
		<a href="">
			<img src="">
			<p>Profile</p>
		</a>
		<a href="">
			<img src="">
			<p>Chat</p>
		</a>
	</div>
{% endblock %}
