{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{%block body %}
    <form action="/login" method="post" class="text-center">
        <div class="mb-2">
            <label for="email" class="small_text">Email:</label>
            <br>
            <input name="email"  type="email" class="rounded col-lg-1" placeholder="Enter email">
        </div>
        <div class="mb-2">
            <label for="password" class="small_text">Password:</label>
            <br>
            <input type="password" class="rounded" name="password" placeholder="Enter password">
        </div>
        <input type="submit" value="Submit">
    </form>
{% endblock %}