{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{%block body %}
    <form action="/login" method="post">
        <div class="mb-0">
            <label for="email">Email:</label>
            <input name="email" type="email" placeholder="Enter email">
        </div>
        <div class="mb-0">
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Enter password">
        </div>
        <input type="submit" value="Submit">
    </form>
{% endblock %}